<div class="navbar-fixed">
  <nav role="navigation" id="mobile-nav">
    <div class="nav-wrapper col s12 center-align">
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-2x fa-bars" aria-hidden="true"></i></a>
      <img src="https://s-media-cache-ak0.pinimg.com/originals/94/a0/b6/94a0b65dcdf1572558ac1329c193e108.png" id="mobile-logo">
    </div>
  </nav>
</div>
