<div class="col l12 center-align">
  <h4>GOOD MORNING, <%= @user.first_name.upcase %>!</h4>
</div>

<div class="col l12">
  <div class="row">
    <div class="col l4 grey-box goals-height">
      1
    </div>
    <div class="col l4 grey-box goals-height">
      APPLICATIONS
    </div>
    <div class="col l3 grey-box goals-height">
      REMINDERS
    </div>
  </div>
</div>

<div class="col l12">
  <div class="row">
    <div class="col l4 grey-box goals-height">
      GOALS
    </div>
    <div class="col l4 grey-box goals-height">
      INTERVIEWS
    </div>
    <div class="col l3 grey-box goals-height">
      CODE CHALLENGES
    </div>
  </div>
</div>

<div class="col l12">
  <div class="row">
    <div class="col l4 goals-height grey-box2">
      RESOURCES
    </div>
    <div class="col l7">
      <div class="col l12 goals-height2 grey-box2">
        QUESTIONS
      </div>
      <div class="col l12 goals-height2 grey-box2">
        BRAIN TEASER
      </div>
    </div>
  </div>
</div>
