<h1>THIS IS YOUR DASH!</h1>
<h2> Here are your goals </h2>
<%= link_to 'Sign Out', logout_path %>
<%= link_to 'My Applications', applications_path %>
<%= link_to 'My Interviews', interviews_path %>
<%= link_to 'My Questions', questions_path %>
