/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require mobile
 */

body {
  font-family: 'Open Sans', sans-serif !important;
}

a {
  color: #50E3C2 !important;
}

.nav-i {
  font-size: 1.2em !important;
  color: #50E3C2 !important;
}

/*removes yellow input background browser default*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

#progress {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}

#profile-img {
  margin: 15px;
  width: 100px
}

.teal-theme {
  color: #50E3C2;
}

.grey-box {
  background-color: #171717;
  color: white;
  border-radius: 4px;
}

.grey-box2 {
  background-color: #171717;
  color: white;
  border-radius: 4px;
}

.top-row-margin {
  margin: 20px 20px 0 20px;
}

.middle-row-margin {
  margin: 0 20px 0 20px;
}

.bottom-row-margin {
  margin: 20px;
}

.goals-height-top {
  height: 285px;
}

.goals-height-mid {
  height: 354px;
}

.goals-height2 {
  height: 127px;
  margin-bottom: 10px;
}

.resources-height3 {
  height: 264px;
}

.goals-box {
  background-color: #2B2B2B;
  height: 60px;
  margin: 7px;
  border-radius: 4px;
}

#resources div {
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
}
#resources div:hover {
  background-color: #2B2B2B;
}

.picker__date-display, .picker__weekday-display{
  background-color: #50E3C2;
}

div.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted {
  background-color: #50E3C2;
}

button.picker__today, button.picker__close {
  color: #50E3C2;
}

#search-form {
  margin-left: 20px;
}

nav {
  background-color: #FFFFFF;
  color: #D3CED5;
}
