#side-date {
  overflow: visible;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.3em;
  left: 12px;
  padding-top: 11px;
}

#side-date2 {
  overflow: visible;
  margin-top: 35px;
  font-family: 'PT Sans Narrow', sans-serif;
  margin-left: -3px;
  font-size: 0.9em;
}

#did-you-know {
  font-size: 1.2em;
}

.show-header {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  margin-top:15px;
}
