@media screen and (max-width: 768px) {

  #profile-img {
    width: 80px;
  }

  #mobile-nav {
    height: 60px !important;
    background-color: black;
  }

  #mobile-logo {
    visibility: visible !important;
    margin-right: 81px !important;
  }

  #goals-header {
    margin-top: 20px !important;
  }

  .goals-height-top {
    height: 265px;
  }
  .goals-height-mid {
    height: 320px;
  }

  .goals-box {
    height: 50px;
    margin: 7px;
  }

  #interview-info {
    margin-top: 10px;
  }

  .bottom-margin {
    margin-bottom: 20px;
  }
}
