@media screen and (max-width: 768px) {

  #profile-img {
    width: 80px;
  }

  .goals-height-top {
    height: 265px;
  }
  .goals-height-mid {
    height: 320px;
  }

  .goals-box {
    height: 50px;
    margin: 7px;
  }
  
}
